@use "sass:color";

@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$fg: #f1f1f1;
$bg: #515151;
$accent: #378DF7;
$radius: 7px;

.circular {
    background-color: $bg;
    color: $accent;
    font-size: 4px;
    min-width: 30px;
    min-height: 30px;
}

.icon {
  font-size: 12px;
}

window.bar {
    border: none;
    box-shadow: none;
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
    }

    .time {
        font-size: 20px;
        font-family: "Noto Sans";
        font-weight: bold;
    }

    .date {
        color: $fg;
        font-size: 11px;
    }

    .workspaces  {
        margin-top: 10px;

        button {
            all: unset;
            background-color: transparent;
            min-width: 44px;
            margin-bottom: 6px;
            border-radius: 8px;
            transition: all 0.3s ease;

            &:hover label {
                background-color: color.adjust($fg, $alpha: -0.84);
                border-color: color.adjust($accent, $alpha: -0.8);
            }

            &:active label {
                background-color: color.adjust($fg, $alpha: -0.8)
            }
        }

        label {
            transition: 200ms;
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 2px;
            border-radius: $radius;
        }

        .focused label {
            background-color: $accent;
        }
    }
}
