@use "sass:color";

@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$fg: #fffffb;
$bg: #9A9D9C;
$accent: #81A8DE;
$radius: 7px;

.circular {
    border: none;
    border-image-width: 0px;
    background-color: $bg;
    color: $accent;
    font-size: 5px;
    min-width: 32px;
    min-height: 32px;
}

.icon {
  color: $fg;
  font-size: 13px;
}

window.bar {
    border: none;
    box-shadow: none;
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
    }

    .sysbutton {
        border-image: none;
        background-image: none;
        background-color: transparent;
        margin-top: 2px;
        margin-bottom: 2px;
        background-color: color.adjust($fg, $alpha: -0.84);
        border-color: color.adjust($accent, $alpha: -0.8);
    }


    .sysbutton icon {
        text-shadow: none;
    }

    .time {
        font-size: 20px;
        font-family: "Noto Sans";
        font-weight: bold;
    }

    .date {
        color: $fg;
        font-size: 11px;
    }

    .workspaces  {
        margin-top: 10px;

        button {
            all: unset;
            background-color: transparent;
            min-width: 44px;
            margin-bottom: 6px;
            border-radius: 8px;
            transition: all 0.3s ease;

            &:hover label {
                background-color: color.adjust($fg, $alpha: -0.84);
                border-color: color.adjust($accent, $alpha: -0.8);
            }

            &:active label {
                background-color: color.adjust($fg, $alpha: -0.8)
            }
        }

        label {
            transition: 200ms;
            padding-top: 3px;
            padding-bottom: 3px;
            margin: 2px;
            border-radius: $radius;
        }

        .focused label {
            background-color: $accent;
        }
    }
}
