@use "sass:color";

@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$fg: #f1f1f1;
$bg: #515151;
$accent: #378DF7;
$radius: 7px;

window#launcher {
    all: unset;

    box.Applauncher {
        background-color: $bg;
        border-radius: 11px;
        margin: 1rem;
        padding: .8rem;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);

        entry {
            margin-bottom: .8rem;
        }

        button {
            min-width: 0;
            min-height: 0;
            padding: .5rem;

            icon {
                font-size: 3em;
                margin-right: .3rem;
            }

            label.name {
                font-weight: bold;
                font-size: 1.1em
            }

            label.description {
                color: gtkalpha($fg, .8);
            }
        }

        box.not-found {
            padding: 1rem;

            icon {
                font-size: 6em;
                color: gtkalpha($fg, .7);
            }

            label {
                color: gtkalpha($fg, .9);
                font-size: 1.2em;
            }
        }
    }
}
