prefer-no-csd

gestures {
	hot-corners {
		off 
	}
}

input {
    keyboard {
        xkb {
            options "caps:escape"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }
		focus-follows-mouse max-scroll-amount="0%"
}

layout {
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    gaps 12

    border {
        width 4
        active-color "#81A8DE"
        inactive-color "#00000000"
    }
		focus-ring {
			off
		}
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=0 y=0 relative-to="bottom-right"
    open-focused false
}

recent-windows {
	off
}

binds {
    // ── Apps ──────────────────────────────────────────────────────
    Super+Q { spawn "alacritty"; }
    Super+G { spawn "thunar"; }
    Super+B { spawn "firefox"; }
    Super+R { spawn "fuzzel"; }

    // ── Window management ─────────────────────────────────────────
    Super+C { close-window; }
    Super+Shift+V { toggle-window-floating; }
    Super+V { switch-preset-window-width; }

    Super+F { fullscreen-window; }
    Super+M { quit; }

    Super+P { move-column-to-monitor-next; }
    Super+Shift+P { move-workspace-to-monitor-next; }

    Super+H { focus-column-left; }
    Super+J { focus-workspace-down; }
    Super+K { focus-workspace-up; }
    Super+L { focus-column-right; }
    Super+Shift+H { move-column-to-monitor-left; }
    Super+Shift+J { move-column-to-monitor-down; }
    Super+Shift+K { move-column-to-monitor-up; }
    Super+Shift+L { move-column-to-monitor-right; }

    Super+Tab { focus-monitor-next; }
    Super+E { toggle-overview; }

    // ── Workspaces ────────────────────────────────────────────────
    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }

    Super+Shift+1 { move-window-to-workspace 1; }
    Super+Shift+2 { move-window-to-workspace 2; }
    Super+Shift+3 { move-window-to-workspace 3; }
    Super+Shift+4 { move-window-to-workspace 4; }
    Super+Shift+5 { move-window-to-workspace 5; }
    Super+Shift+6 { move-window-to-workspace 6; }
    Super+Shift+7 { move-window-to-workspace 7; }
    Super+Shift+8 { move-window-to-workspace 8; }
    Super+Shift+9 { move-window-to-workspace 9; }

    // ── Screenshots ───────────────────────────────────────────────
    // Super+Shift+S { spawn-sh r#"grim -g "$(slurp)" - | wl-copy && wl-paste > ~/Pictures/Screenshots/Screenshot-$(date +%F_%T).png"#; }

    Super+Shift+S { screenshot; }
    // Ctrl+Print { screenshot-screen; }
    // Alt+Print { screenshot-window; }

    // ── Volume / brightness / media keys ──────────────────────────
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume -l 1.5 @DEFAULT_AUDIO_SINK@ 5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume -l 1.5 @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "brightnessctl set +5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl set 5%-"; }

    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
}
